#page1.gwd-play-animation .gwd-motion-path-lyjj-anim-x {
  --gwd-motion-path: {
    "tangentFollowing": false, "sections": [ {
      "controlPoints": ["0px", "0px", "-50.75px", "19.9px", "-26.66px", "97.87px", "-70.48px", "103.13px", "-70.48px", "103.13px", "-136px", "111px", "-89.25px", "186.91px", "-139px", "206px"], "startTimeMs": 594, "endTimeMs": 3500, "easing": "linear"
    }
    ], "positionTol":0.5, "angleTol":1, "optimizationLevel":0
  }
  ;
  animation:gwd-motion-path-lyjj-keys-x 2.906s linear 0.594s 1 normal forwards;
  transform:translate3d(0px, 0px, 0px);
}
@keyframes gwd-motion-path-lyjj-keys-x {
  0% {
    transform: translate3d(0px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.2478, 0.5427, 0.4921, 0.7356);
  }
  34.6% {
    transform: translate3d(-43.58px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.4552, 0.2082, 0.7283, 0.5982);
  }
  49.43% {
    transform: translate3d(-70.48px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.2859, 0.5435, 0.3418, 0.8934);
  }
  82.3% {
    transform: translate3d(-113.09px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.497, 0.1354, 0.7526, 0.5882);
  }
  100% {
    transform: translate3d(-139px, 0px, 0px);
  }
}
#page1.gwd-play-animation .gwd-motion-path-lyjj-anim-y {
  animation: gwd-motion-path-lyjj-keys-y 2.906s linear 0.594s 1 normal forwards;
  transform: translate3d(0px, 0px, 0px);
}
@keyframes gwd-motion-path-lyjj-keys-y {
  0% {
    transform: translate3d(0px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.4016, 0.2107, 0.6875, 0.6761);
  }
  34.6% {
    transform: translate3d(0px, 77.28px, 0px);
    animation-timing-function: cubic-bezier(0.2596, 0.3371, 0.5518, 0.9054);
  }
  49.43% {
    transform: translate3d(0px, 103.13px, 0px);
    animation-timing-function: cubic-bezier(0.491, 0.0854, 0.7427, 0.6296);
  }
  70.92% {
    transform: translate3d(0px, 139.19px, 0px);
    animation-timing-function: cubic-bezier(0.3119, 0.3196, 0.5989, 0.7986);
  }
  100% {
    transform: translate3d(0px, 206px, 0px);
  }
}
#page1.gwd-play-animation .gwd-motion-path-1qnb-anim-x {
  --gwd-motion-path: {
    "tangentFollowing": false, "sections": [ {
      "controlPoints": ["0px", "0px", "2.44px", "57.59px", "-10px", "101px", "64.74px", "120.29px", "64.74px", "120.29px", "108.49px", "131.58px", "128.58px", "180.78px", "125px", "233px"], "startTimeMs": 1093.96, "endTimeMs": 3994, "easing": "linear"
    }
    ], "positionTol":0.5, "angleTol":1, "optimizationLevel":0
  }
  ;
  animation:gwd-motion-path-1qnb-keys-x 2.90004s linear 1.09396s 1 normal forwards;
  transform:translate3d(0px, 0px, 0px);
}
@keyframes gwd-motion-path-1qnb-keys-x {
  0% {
    transform: translate3d(0px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.7546, -0.045, 0.7606, 0.3791);
  }
  42.05% {
    transform: translate3d(35.97px, 0px, 0px);
  }
  52.56% {
    transform: translate3d(64.74px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.1829, 0.3902, 0.4615, 1.0788);
  }
  100% {
    transform: translate3d(125px, 0px, 0px);
  }
}
#page1.gwd-play-animation .gwd-motion-path-1qnb-anim-y {
  animation: gwd-motion-path-1qnb-keys-y 2.90004s linear 1.09396s 1 normal forwards;
  transform: translate3d(0px, 0px, 0px);
}
@keyframes gwd-motion-path-1qnb-keys-y {
  0% {
    transform: translate3d(0px, 0px, 0px);
  }
  9.2% {
    transform: translate3d(0px, 26.89px, 0px);
    animation-timing-function: cubic-bezier(0.292, 0.361, 0.527, 0.8559);
  }
  52.56% {
    transform: translate3d(0px, 120.29px, 0px);
  }
  57.3% {
    transform: translate3d(0px, 125.06px, 0px);
    animation-timing-function: cubic-bezier(0.3966, 0.233, 0.6897, 0.6649);
  }
  100% {
    transform: translate3d(0px, 233px, 0px);
  }
}
#page1.gwd-play-animation .gwd-motion-path-anwa-anim-x {
  --gwd-motion-path: {
    "tangentFollowing": false, "sections": [ {
      "controlPoints": ["0px", "0px", "55.78px", "34.15px", "-18px", "44px", "3.91px", "105.22px", "3.91px", "105.22px", "17.26px", "142.53px", "-41.6px", "181.66px", "-36px", "245px"], "startTimeMs": 1600.2, "endTimeMs": 4500, "easing": "linear"
    }
    ], "positionTol":0.5, "angleTol":1, "optimizationLevel":0
  }
  ;
  animation:gwd-motion-path-anwa-keys-x 2.8998s linear 1.6002s 1 normal forwards;
  transform:translate3d(0px, 0px, 0px);
}
@keyframes gwd-motion-path-anwa-keys-x {
  0% {
    transform: translate3d(0px, 0px, 0px);
  }
  6.69% {
    transform: translate3d(14.31px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.2946, -2.4172, 0.4721, 2.8642);
  }
  44.61% {
    transform: translate3d(3.91px, 0px, 0px);
  }
  48.76% {
    transform: translate3d(5.88px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.3479, 0.1159, 0.5528, 1.0716);
  }
  100% {
    transform: translate3d(-36px, 0px, 0px);
  }
}
#page1.gwd-play-animation .gwd-motion-path-anwa-anim-y {
  animation: gwd-motion-path-anwa-keys-y 2.8998s linear 1.6002s 1 normal forwards;
  transform: translate3d(0px, 0px, 0px);
}
@keyframes gwd-motion-path-anwa-keys-y {
  0% {
    transform: translate3d(0px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.4127, 0.269, 0.7145, 0.605);
  }
  14.5% {
    transform: translate3d(0px, 29.65px, 0px);
    animation-timing-function: cubic-bezier(0.3511, 0.3241, 0.6749, 0.653);
  }
  44.61% {
    transform: translate3d(0px, 105.22px, 0px);
    animation-timing-function: cubic-bezier(0.3212, 0.3472, 0.686, 0.646);
  }
  100% {
    transform: translate3d(0px, 245px, 0px);
  }
}
#page1.gwd-play-animation .gwd-motion-path-1s8b-anim-x {
  --gwd-motion-path: {
    "tangentFollowing": false, "sections": [ {
      "controlPoints": ["0px", "0px", "-31.56px", "47.34px", "38.69px", "41.29px", "21.66px", "102.95px", "21.66px", "102.95px", "-1px", "185px", "58.91px", "155.63px", "56px", "203px"], "startTimeMs": 2097.24, "endTimeMs": 4997, "easing": "linear"
    }
    ], "positionTol":0.5, "angleTol":1, "optimizationLevel":0
  }
  ;
  animation:gwd-motion-path-1s8b-keys-x 2.89976s linear 2.09724s 1 normal forwards;
  transform:translate3d(0px, 0px, 0px);
}
@keyframes gwd-motion-path-1s8b-keys-x {
  0% {
    transform: translate3d(0px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.4069, -1.4149, 0.4807, 1.7705);
  }
  49.81% {
    transform: translate3d(21.66px, 0px, 0px);
  }
  52.32% {
    transform: translate3d(20.19px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.6158, -0.507, 0.5708, 0.9986);
  }
  100% {
    transform: translate3d(56px, 0px, 0px);
  }
}
#page1.gwd-play-animation .gwd-motion-path-1s8b-anim-y {
  animation: gwd-motion-path-1s8b-keys-y 2.89976s linear 2.09724s 1 normal forwards;
  transform: translate3d(0px, 0px, 0px);
}
@keyframes gwd-motion-path-1s8b-keys-y {
  0% {
    transform: translate3d(0px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.3599, 0.3092, 0.6463, 0.6873);
  }
  17.43% {
    transform: translate3d(0px, 37.1px, 0px);
    animation-timing-function: cubic-bezier(0.3851, 0.3001, 0.682, 0.6361);
  }
  49.81% {
    transform: translate3d(0px, 102.95px, 0px);
    animation-timing-function: cubic-bezier(0.3282, 0.3433, 0.5783, 0.761);
  }
  86.2% {
    transform: translate3d(0px, 174.94px, 0px);
    animation-timing-function: cubic-bezier(0.3905, 0.2691, 0.6851, 0.6504);
  }
  100% {
    transform: translate3d(0px, 203px, 0px);
  }
}
#page1.gwd-play-animation .gwd-motion-path-173o-anim-x {
  --gwd-motion-path: {
    "tangentFollowing": false, "sections": [ {
      "controlPoints": ["0px", "0px", "-50.75px", "19.9px", "-26.66px", "97.87px", "-70.48px", "103.13px", "-70.48px", "103.13px", "-136px", "111px", "-124.25px", "227.91px", "-174px", "247px"], "startTimeMs": 2597.04, "endTimeMs": 5503.04, "easing": "linear"
    }
    ], "positionTol":0.5, "angleTol":1, "optimizationLevel":0
  }
  ;
  animation:gwd-motion-path-173o-keys-x 2.906s linear 2.59704s 1 normal forwards;
  transform:translate3d(0px, 0px, 0px);
}
@keyframes gwd-motion-path-173o-keys-x {
  0% {
    transform: translate3d(0px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.2478, 0.5427, 0.4921, 0.7356);
  }
  29.1% {
    transform: translate3d(-43.58px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.4552, 0.2082, 0.7283, 0.5982);
  }
  41.57% {
    transform: translate3d(-70.48px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.2451, 0.4724, 0.5271, 0.7586);
  }
  76.63% {
    transform: translate3d(-133.81px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.4329, 0.2487, 0.7615, 0.5586);
  }
  100% {
    transform: translate3d(-174px, 0px, 0px);
  }
}
#page1.gwd-play-animation .gwd-motion-path-173o-anim-y {
  animation: gwd-motion-path-173o-keys-y 2.906s linear 2.59704s 1 normal forwards;
  transform: translate3d(0px, 0px, 0px);
}
@keyframes gwd-motion-path-173o-keys-y {
  0% {
    transform: translate3d(0px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.4016, 0.2107, 0.6875, 0.6761);
  }
  29.1% {
    transform: translate3d(0px, 77.28px, 0px);
    animation-timing-function: cubic-bezier(0.2596, 0.3371, 0.5518, 0.9054);
  }
  41.57% {
    transform: translate3d(0px, 103.13px, 0px);
    animation-timing-function: cubic-bezier(0.4247, 0.1043, 0.7326, 0.6812);
  }
  67.86% {
    transform: translate3d(0px, 160.88px, 0px);
    animation-timing-function: cubic-bezier(0.3226, 0.3282, 0.62, 0.7441);
  }
  98.54% {
    transform: translate3d(0px, 245.07px, 0px);
  }
  100% {
    transform: translate3d(0px, 247px, 0px);
  }
}
#page1.gwd-play-animation .gwd-motion-path-1w45-anim-x {
  --gwd-motion-path: {
    "tangentFollowing": false, "sections": [ {
      "controlPoints": ["0px", "0px", "2.44px", "57.59px", "-10px", "101px", "64.74px", "120.29px", "64.74px", "120.29px", "108.49px", "131.58px", "170.58px", "182.78px", "167px", "235px"], "startTimeMs": 3097, "endTimeMs": 5997.04, "easing": "linear"
    }
    ], "positionTol":0.5, "angleTol":1, "optimizationLevel":0
  }
  ;
  animation:gwd-motion-path-1w45-keys-x 2.90004s linear 3.097s 1 normal forwards;
  transform:translate3d(0px, 0px, 0px);
}
@keyframes gwd-motion-path-1w45-keys-x {
  0% {
    transform: translate3d(0px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.7546, -0.045, 0.7606, 0.3791);
  }
  38.7% {
    transform: translate3d(35.97px, 0px, 0px);
  }
  48.38% {
    transform: translate3d(64.74px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.276, 0.3511, 0.5915, 0.8004);
  }
  92.26% {
    transform: translate3d(164.17px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.1382, 0.312, 0.5155, 1.2843);
  }
  100% {
    transform: translate3d(167px, 0px, 0px);
  }
}
#page1.gwd-play-animation .gwd-motion-path-1w45-anim-y {
  animation: gwd-motion-path-1w45-keys-y 2.90004s linear 3.097s 1 normal forwards;
  transform: translate3d(0px, 0px, 0px);
}
@keyframes gwd-motion-path-1w45-keys-y {
  0% {
    transform: translate3d(0px, 0px, 0px);
  }
  8.47% {
    transform: translate3d(0px, 26.89px, 0px);
    animation-timing-function: cubic-bezier(0.292, 0.361, 0.527, 0.8559);
  }
  48.38% {
    transform: translate3d(0px, 120.29px, 0px);
    animation-timing-function: cubic-bezier(0.426, 0.1884, 0.7393, 0.629);
  }
  100% {
    transform: translate3d(0px, 235px, 0px);
  }
}
#page1.gwd-play-animation .gwd-motion-path-keqs-anim-x {
  --gwd-motion-path: {
    "tangentFollowing": false, "sections": [ {
      "controlPoints": ["0px", "0px", "55.78px", "34.15px", "-18px", "44px", "3.91px", "105.22px", "3.91px", "105.22px", "17.26px", "142.53px", "-112.6px", "177.66px", "-107px", "241px"], "startTimeMs": 3603.24, "endTimeMs": 6503.04, "easing": "linear"
    }
    ], "positionTol":0.5, "angleTol":1, "optimizationLevel":0
  }
  ;
  animation:gwd-motion-path-keqs-keys-x 2.8998s linear 3.60324s 1 normal forwards;
  transform:translate3d(0px, 0px, 0px);
}
@keyframes gwd-motion-path-keqs-keys-x {
  0% {
    transform: translate3d(0px, 0px, 0px);
  }
  5.91% {
    transform: translate3d(14.31px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.2946, -2.4172, 0.4721, 2.8642);
  }
  39.38% {
    transform: translate3d(3.91px, 0px, 0px);
  }
  40.9% {
    transform: translate3d(4.84px, 0px, 0px);
  }
  42.41% {
    transform: translate3d(4.48px, 0px, 0px);
  }
  43.93% {
    transform: translate3d(2.99px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.3748, 0.2662, 0.6743, 0.6714);
  }
  69.69% {
    transform: translate3d(-56.31px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.2226, 0.2731, 0.6012, 1.0238);
  }
  100% {
    transform: translate3d(-107px, 0px, 0px);
  }
}
#page1.gwd-play-animation .gwd-motion-path-keqs-anim-y {
  animation: gwd-motion-path-keqs-keys-y 2.8998s linear 3.60324s 1 normal forwards;
  transform: translate3d(0px, 0px, 0px);
}
@keyframes gwd-motion-path-keqs-keys-y {
  0% {
    transform: translate3d(0px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.4127, 0.269, 0.7145, 0.605);
  }
  12.8% {
    transform: translate3d(0px, 29.65px, 0px);
    animation-timing-function: cubic-bezier(0.3511, 0.3241, 0.6749, 0.653);
  }
  39.38% {
    transform: translate3d(0px, 105.22px, 0px);
    animation-timing-function: cubic-bezier(0.2615, 0.4004, 0.7242, 0.6056);
  }
  92.42% {
    transform: translate3d(0px, 218.49px, 0px);
  }
  100% {
    transform: translate3d(0px, 241px, 0px);
  }
}
#page1.gwd-play-animation .gwd-motion-path-1k4r-anim-x {
  --gwd-motion-path: {
    "tangentFollowing": false, "sections": [ {
      "controlPoints": ["0px", "0px", "-31.56px", "47.34px", "38.69px", "41.29px", "21.66px", "102.95px", "21.66px", "102.95px", "-1px", "185px", "105.91px", "145.63px", "103px", "193px"], "startTimeMs": 4100.28, "endTimeMs": 7000.04, "easing": "linear"
    }
    ], "positionTol":0.5, "angleTol":1, "optimizationLevel":0
  }
  ;
  animation:gwd-motion-path-1k4r-keys-x 2.89976s linear 4.10028s 1 normal forwards;
  transform:translate3d(0px, 0px, 0px);
}
@keyframes gwd-motion-path-1k4r-keys-x {
  0% {
    transform: translate3d(0px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.4069, -1.4149, 0.4807, 1.7705);
  }
  44.8% {
    transform: translate3d(21.66px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.5769, -0.4442, 0.7894, 0.6111);
  }
  73.78% {
    transform: translate3d(51.4px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.3214, 0.3194, 0.6183, 0.7652);
  }
  95.86% {
    transform: translate3d(101.47px, 0px, 0px);
  }
  98.62% {
    transform: translate3d(103.01px, 0px, 0px);
  }
  100% {
    transform: translate3d(103px, 0px, 0px);
  }
}
#page1.gwd-play-animation .gwd-motion-path-1k4r-anim-y {
  animation: gwd-motion-path-1k4r-keys-y 2.89976s linear 4.10028s 1 normal forwards;
  transform: translate3d(0px, 0px, 0px);
}
@keyframes gwd-motion-path-1k4r-keys-y {
  0% {
    transform: translate3d(0px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.3599, 0.3092, 0.6463, 0.6873);
  }
  15.68% {
    transform: translate3d(0px, 37.1px, 0px);
    animation-timing-function: cubic-bezier(0.3851, 0.3001, 0.682, 0.6361);
  }
  44.8% {
    transform: translate3d(0px, 102.95px, 0px);
    animation-timing-function: cubic-bezier(0.3087, 0.426, 0.4384, 0.863);
  }
  82.06% {
    transform: translate3d(0px, 165.19px, 0px);
    animation-timing-function: cubic-bezier(0.523, 0.1796, 0.7344, 0.5439);
  }
  100% {
    transform: translate3d(0px, 193px, 0px);
  }
}
[data-gwd-motion-path-node] {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  pointer-events: none;
}