#page1.gwd-play-animation .gwd-motion-path-7dp0-anim-x {
  --gwd-motion-path: {
    "tangentFollowing": false, "sections": [ {
      "controlPoints": ["0px", "0px", "15.3px", "11.85px", "0.23px", "39.68px", "15.84px", "51.01px", "15.84px", "51.01px", "42px", "70px", "20.73px", "109.89px", "42px", "119px"], "startTimeMs": 606.019, "endTimeMs": 3209.02, "easing": "linear"
    }
    ], "positionTol":0.5, "angleTol":1, "optimizationLevel":0
  }
  ;
  animation:gwd-motion-path-7dp0-keys-x 2.603s linear 0.606019s 1 normal forwards;
  transform:translate3d(0px, 0px, 0px);
}
@keyframes gwd-motion-path-7dp0-keys-x {
  0% {
    transform: translate3d(0px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.2697, 0.9247, 0.7355, 0.0652);
  }
  42.09% {
    transform: translate3d(15.84px, 0px, 0px);
  }
  46.43% {
    transform: translate3d(20.17px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.2946, 0.8257, 0.7953, 0.1612);
  }
  100% {
    transform: translate3d(42px, 0px, 0px);
  }
}
#page1.gwd-play-animation .gwd-motion-path-7dp0-anim-y {
  animation: gwd-motion-path-7dp0-keys-y 2.603s linear 0.606019s 1 normal forwards;
  transform: translate3d(0px, 0px, 0px);
}
@keyframes gwd-motion-path-7dp0-keys-y {
  0% {
    transform: translate3d(0px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.3657, 0.2876, 0.6325, 0.7179);
  }
  42.09% {
    transform: translate3d(0px, 51.01px, 0px);
    animation-timing-function: cubic-bezier(0.3787, 0.2726, 0.6365, 0.7206);
  }
  98.55% {
    transform: translate3d(0px, 118.15px, 0px);
  }
  100% {
    transform: translate3d(0px, 119px, 0px);
  }
}
#page1.gwd-play-animation .gwd-motion-path-kfvd-anim-x {
  --gwd-motion-path: {
    "tangentFollowing": false, "sections": [ {
      "controlPoints": ["0px", "0px", "-18.53px", "2.39px", "11px", "27px", "-15.36px", "53.33px", "-15.36px", "53.33px", "-27.72px", "65.68px", "-35.06px", "106.14px", "-58px", "117px"], "startTimeMs": 1102.92, "endTimeMs": 3709.02, "easing": "linear"
    }
    ], "positionTol":0.5, "angleTol":1, "optimizationLevel":0
  }
  ;
  animation:gwd-motion-path-kfvd-keys-x 2.6061s linear 1.10292s 1 normal forwards;
  transform:translate3d(0px, 0px, 0px);
}
@keyframes gwd-motion-path-kfvd-keys-x {
  0% {
    transform: translate3d(0px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.2036, 1.1365, 0.4838, -0.6562);
  }
  43.8% {
    transform: translate3d(-15.36px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.3295, 0.3586, 0.762, 0.5462);
  }
  100% {
    transform: translate3d(-58px, 0px, 0px);
  }
}
#page1.gwd-play-animation .gwd-motion-path-kfvd-anim-y {
  animation: gwd-motion-path-kfvd-keys-y 2.6061s linear 1.10292s 1 normal forwards;
  transform: translate3d(0px, 0px, 0px);
}
@keyframes gwd-motion-path-kfvd-keys-y {
  0% {
    transform: translate3d(0px, 0px, 0px);
  }
  3.28% {
    transform: translate3d(0px, 1.41px, 0px);
    animation-timing-function: cubic-bezier(0.3434, 0.3131, 0.6268, 0.7117);
  }
  43.8% {
    transform: translate3d(0px, 53.33px, 0px);
    animation-timing-function: cubic-bezier(0.3402, 0.3135, 0.6138, 0.7476);
  }
  100% {
    transform: translate3d(0px, 117px, 0px);
  }
}
#page1.gwd-play-animation .gwd-motion-path-6inj-anim-x {
  --gwd-motion-path: {
    "tangentFollowing": false, "sections": [ {
      "controlPoints": ["0px", "0px", "43.97px", "-24.49px", "74.96px", "19.64px", "121.92px", "10.71px", "121.92px", "10.71px", "173px", "1px", "220.02px", "51.43px", "279px", "47px"], "startTimeMs": 1596.96, "endTimeMs": 4212.02, "easing": "linear"
    }
    ], "positionTol":0.5, "angleTol":1, "optimizationLevel":0
  }
  ;
  animation:gwd-motion-path-6inj-keys-x 2.61506s linear 1.59696s 1 normal forwards;
  transform:translate3d(0px, 0px, 0px);
}
@keyframes gwd-motion-path-6inj-keys-x {
  0% {
    transform: translate3d(0px, 0px, 0px);
  }
  1.09% {
    transform: translate3d(2.79px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.3314, 0.3334, 0.6725, 0.6606);
  }
  43.56% {
    transform: translate3d(121.92px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.3224, 0.3442, 0.6778, 0.6546);
  }
  100% {
    transform: translate3d(279px, 0px, 0px);
  }
}
#page1.gwd-play-animation .gwd-motion-path-6inj-anim-y {
  animation: gwd-motion-path-6inj-keys-y 2.61506s linear 1.59696s 1 normal forwards;
  transform: translate3d(0px, 0px, 0px);
}
@keyframes gwd-motion-path-6inj-keys-y {
  0% {
    transform: translate3d(0px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.3532, -2.0605, 0.6039, 1.463);
  }
  42.47% {
    transform: translate3d(0px, 11.23px, 0px);
  }
  43.56% {
    transform: translate3d(0px, 10.71px, 0px);
    animation-timing-function: cubic-bezier(0.35, -0.2212, 0.614, 1.0928);
  }
  100% {
    transform: translate3d(0px, 47px, 0px);
  }
}
#page1.gwd-play-animation .gwd-motion-path-17lg-anim-x {
  --gwd-motion-path: {
    "tangentFollowing": false, "sections": [ {
      "controlPoints": ["0px", "0px", "-42.34px", "-17.29px", "-37px", "30px", "-78.3px", "26.99px", "-78.3px", "26.99px", "-103.5px", "25.15px", "-124px", "91px", "-181px", "104px"], "startTimeMs": 2100.02, "endTimeMs": 4703.02, "easing": "linear"
    }
    ], "positionTol":0.5, "angleTol":1, "optimizationLevel":0
  }
  ;
  animation:gwd-motion-path-17lg-keys-x 2.603s linear 2.10002s 1 normal forwards;
  transform:translate3d(0px, 0px, 0px);
}
@keyframes gwd-motion-path-17lg-keys-x {
  0% {
    transform: translate3d(0px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.3194, 0.3751, 0.6076, 0.6961);
  }
  27.22% {
    transform: translate3d(-51.21px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.3611, 0.3042, 0.676, 0.6579);
  }
  40.33% {
    transform: translate3d(-78.3px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.314, 0.3532, 0.6384, 0.6946);
  }
  47.79% {
    transform: translate3d(-93.15px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.3584, 0.3222, 0.7143, 0.606);
  }
  100% {
    transform: translate3d(-181px, 0px, 0px);
  }
}
#page1.gwd-play-animation .gwd-motion-path-17lg-anim-y {
  animation: gwd-motion-path-17lg-keys-y 2.603s linear 2.10002s 1 normal forwards;
  transform: translate3d(0px, 0px, 0px);
}
@keyframes gwd-motion-path-17lg-keys-y {
  0% {
    transform: translate3d(0px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.4355, -0.6293, 0.5565, 1.1082);
  }
  40.33% {
    transform: translate3d(0px, 26.99px, 0px);
  }
  43.31% {
    transform: translate3d(0px, 27.95px, 0px);
    animation-timing-function: cubic-bezier(0.3443, 0.2904, 0.5681, 0.8089);
  }
  100% {
    transform: translate3d(0px, 104px, 0px);
  }
}
#page1.gwd-play-animation .gwd-motion-path-wozq-anim-x {
  --gwd-motion-path: {
    "tangentFollowing": false, "sections": [ {
      "controlPoints": ["-96px", "7px", "-89.24px", "12.24px", "-70.8px", "27.52px", "-48.56px", "26.38px", "-48.56px", "26.38px", "-2px", "24px", "7.13px", "44.69px", "15.84px", "51.01px", "15.84px", "51.01px", "42px", "70px", "34.73px", "92.89px", "56px", "102px"], "startTimeMs": 1397, "endTimeMs": 4000, "easing": "linear"
    }
    ], "positionTol":0.5, "angleTol":1, "optimizationLevel":0
  }
  ;
  animation:gwd-motion-path-wozq-keys-x 2.603s linear 1.397s 1 normal forwards;
  transform:translate3d(-96px, 0px, 0px);
}
@keyframes gwd-motion-path-wozq-keys-x {
  0% {
    transform: translate3d(-96px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.361, 0.3065, 0.6854, 0.6472);
  }
  27.51% {
    transform: translate3d(-48.56px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.3191, 0.3515, 0.6157, 0.7114);
  }
  65.22% {
    transform: translate3d(15.84px, 0px, 0px);
  }
  66.09% {
    transform: translate3d(17.17px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.2728, 0.4411, 0.752, 0.5496);
  }
  100% {
    transform: translate3d(56px, 0px, 0px);
  }
}
#page1.gwd-play-animation .gwd-motion-path-wozq-anim-y {
  animation: gwd-motion-path-wozq-keys-y 2.603s linear 1.397s 1 normal forwards;
  transform: translate3d(0px, 7px, 0px);
}
@keyframes gwd-motion-path-wozq-keys-y {
  0% {
    transform: translate3d(0px, 7px, 0px);
    animation-timing-function: cubic-bezier(0.205, 0.3087, 0.5593, 1.0316);
  }
  27.51% {
    transform: translate3d(0px, 26.38px, 0px);
    animation-timing-function: cubic-bezier(0.577, -0.0916, 0.782, 0.6052);
  }
  65.22% {
    transform: translate3d(0px, 51.01px, 0px);
    animation-timing-function: cubic-bezier(0.3872, 0.2735, 0.6121, 0.7525);
  }
  100% {
    transform: translate3d(0px, 102px, 0px);
  }
}
#page1.gwd-play-animation .gwd-motion-path-lkpm-anim-x {
  --gwd-motion-path: {
    "tangentFollowing": false, "sections": [ {
      "controlPoints": ["0px", "0px", "-18.53px", "2.39px", "11px", "27px", "-15.36px", "53.33px", "-15.36px", "53.33px", "-27.72px", "65.68px", "-25.06px", "88.14px", "-48px", "99px"], "startTimeMs": 1893.9, "endTimeMs": 4500, "easing": "linear"
    }
    ], "positionTol":0.5, "angleTol":1, "optimizationLevel":0
  }
  ;
  animation:gwd-motion-path-lkpm-keys-x 2.6061s linear 1.8939s 1 normal forwards;
  transform:translate3d(0px, 0px, 0px);
}
@keyframes gwd-motion-path-lkpm-keys-x {
  0% {
    transform: translate3d(0px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.2036, 1.1365, 0.4838, -0.6562);
  }
  51.35% {
    transform: translate3d(-15.36px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.3335, 0.383, 0.7524, 0.5095);
  }
  97.57% {
    transform: translate3d(-45.44px, 0px, 0px);
  }
  100% {
    transform: translate3d(-48px, 0px, 0px);
  }
}
#page1.gwd-play-animation .gwd-motion-path-lkpm-anim-y {
  animation: gwd-motion-path-lkpm-keys-y 2.6061s linear 1.8939s 1 normal forwards;
  transform: translate3d(0px, 0px, 0px);
}
@keyframes gwd-motion-path-lkpm-keys-y {
  0% {
    transform: translate3d(0px, 0px, 0px);
  }
  3.85% {
    transform: translate3d(0px, 1.41px, 0px);
    animation-timing-function: cubic-bezier(0.3435, 0.3132, 0.6268, 0.7117);
  }
  51.35% {
    transform: translate3d(0px, 53.33px, 0px);
    animation-timing-function: cubic-bezier(0.3436, 0.3131, 0.592, 0.7646);
  }
  100% {
    transform: translate3d(0px, 99px, 0px);
  }
}
#page1.gwd-play-animation .gwd-motion-path-z8fo-anim-x {
  --gwd-motion-path: {
    "tangentFollowing": false, "sections": [ {
      "controlPoints": ["184px", "-81px", "227.97px", "-105.49px", "162.04px", "-4.07px", "209px", "-13px", "209px", "-13px", "260.08px", "-22.71px", "186.02px", "39.43px", "245px", "35px"], "startTimeMs": 2387.94, "endTimeMs": 5003, "easing": "linear"
    }
    ], "positionTol":0.5, "angleTol":1, "optimizationLevel":0
  }
  ;
  animation:gwd-motion-path-z8fo-keys-x 2.61506s linear 2.38794s 1 normal forwards;
  transform:translate3d(184px, 0px, 0px);
}
@keyframes gwd-motion-path-z8fo-keys-x {
  0% {
    transform: translate3d(184px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.2883, 0.2431, 0.5882, 1.0639);
  }
  12.18% {
    transform: translate3d(199.97px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.8231, -1.2345, 0.6736, -1.6292);
  }
  54.12% {
    transform: translate3d(209px, 0px, 0px);
  }
  56.42% {
    transform: translate3d(213.2px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.3292, 1.296, 0.2108, 2.4509);
  }
  79.36% {
    transform: translate3d(221.92px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.4512, -0.2944, 0.7663, 0.7364);
  }
  100% {
    transform: translate3d(245px, 0px, 0px);
  }
}
#page1.gwd-play-animation .gwd-motion-path-z8fo-anim-y {
  animation: gwd-motion-path-z8fo-keys-y 2.61506s linear 2.38794s 1 normal forwards;
  transform: translate3d(0px, -81px, 0px);
}
@keyframes gwd-motion-path-z8fo-keys-y {
  0% {
    transform: translate3d(0px, -81px, 0px);
    animation-timing-function: cubic-bezier(0.1368, 0.2954, 0.7358, 2.2469);
  }
  8.12% {
    transform: translate3d(0px, -83.7px, 0px);
  }
  32.47% {
    transform: translate3d(0px, -39.77px, 0px);
    animation-timing-function: cubic-bezier(0.2404, 0.2444, 0.5797, 1.1909);
  }
  54.12% {
    transform: translate3d(0px, -13px, 0px);
    animation-timing-function: cubic-bezier(0.6276, -0.3275, 0.7221, 0.6392);
  }
  72.47% {
    transform: translate3d(0px, 3.65px, 0px);
  }
  75.91% {
    transform: translate3d(0px, 9.69px, 0px);
    animation-timing-function: cubic-bezier(0.29, 0.3623, 0.412, 1.1297);
  }
  100% {
    transform: translate3d(0px, 35px, 0px);
  }
}
#page1.gwd-play-animation .gwd-motion-path-ue0d-anim-x {
  --gwd-motion-path: {
    "tangentFollowing": false, "sections": [ {
      "controlPoints": ["-79px", "-6px", "-121.34px", "-23.29px", "-73.7px", "38.01px", "-115px", "35px", "-115px", "35px", "-140.2px", "33.16px", "-105px", "79px", "-162px", "92px"], "startTimeMs": 2891, "endTimeMs": 5494, "easing": "linear"
    }
    ], "positionTol":0.5, "angleTol":1, "optimizationLevel":0
  }
  ;
  animation:gwd-motion-path-ue0d-keys-x 2.603s linear 2.891s 1 normal forwards;
  transform:translate3d(-79px, 0px, 0px);
}
@keyframes gwd-motion-path-ue0d-keys-x {
  0% {
    transform: translate3d(-79px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.2804, 0.2492, 0.5972, 1.0337);
  }
  16.44% {
    transform: translate3d(-98.11px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.777, -0.3339, 0.731, 0.4118);
  }
  46.97% {
    transform: translate3d(-115px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.2814, 0.3564, 0.5177, 0.8906);
  }
  56.25% {
    transform: translate3d(-125.27px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.5847, 0.0028, 0.7306, 0.5873);
  }
  100% {
    transform: translate3d(-162px, 0px, 0px);
  }
}
#page1.gwd-play-animation .gwd-motion-path-ue0d-anim-y {
  animation: gwd-motion-path-ue0d-keys-y 2.603s linear 2.891s 1 normal forwards;
  transform: translate3d(0px, -6px, 0px);
}
@keyframes gwd-motion-path-ue0d-keys-y {
  0% {
    transform: translate3d(0px, -6px, 0px);
    animation-timing-function: cubic-bezier(0.6148, -0.8188, 0.7509, 0.524);
  }
  19.96% {
    transform: translate3d(0px, 5.53px, 0px);
    animation-timing-function: cubic-bezier(0.2567, 0.2676, 0.5633, 1.0923);
  }
  46.97% {
    transform: translate3d(0px, 35px, 0px);
  }
  50.95% {
    transform: translate3d(0px, 35.89px, 0px);
    animation-timing-function: cubic-bezier(0.326, 0.3273, 0.5132, 0.8607);
  }
  100% {
    transform: translate3d(0px, 92px, 0px);
  }
}
[data-gwd-motion-path-node] {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  pointer-events: none;
}