.gwd-play-animation [data-gwd-group="flowerseff"] .gwd-motion-path-1mah-anim-x {
  --gwd-motion-path: {
    "tangentFollowing": false, "sections": [ {
      "controlPoints": ["-170.24px", "-116.26px", "-184.87px", "-61.46px", "-157.59px", "-67.39px", "-168.25px", "27.27px"], "startTimeMs": 0, "endTimeMs": 1515.97, "easing": "linear"
    }
    ], "positionTol":0.5, "angleTol":1, "optimizationLevel":0
  }
  ;
  animation:gwd-motion-path-1mah-keys-x 1.51597s linear 0s 1 normal forwards;
  transform:translate3d(-170.24px, 0px, 0px);
}
@keyframes gwd-motion-path-1mah-keys-x {
  0% {
    transform: translate3d(-170.24px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.3319, -6.955, 0.403, 6.0132);
  }
  100% {
    transform: translate3d(-168.25px, 0px, 0px);
  }
}
.gwd-play-animation [data-gwd-group="flowerseff"] .gwd-motion-path-1mah-anim-y {
  animation: gwd-motion-path-1mah-keys-y 1.51597s linear 0s 1 normal forwards;
  transform: translate3d(0px, -116.26px, 0px);
}
@keyframes gwd-motion-path-1mah-keys-y {
  0% {
    transform: translate3d(0px, -116.26px, 0px);
  }
  100% {
    transform: translate3d(0px, 27.27px, 0px);
  }
}
.gwd-play-animation [data-gwd-group="flowerseff"] .gwd-motion-path-143w-anim-x {
  --gwd-motion-path: {
    "tangentFollowing": false, "sections": [ {
      "controlPoints": ["0px", "0px", "-33.93px", "56.04px", "18.95px", "98.6px", "6.75px", "165.27px"], "startTimeMs": 0, "endTimeMs": 1562, "easing": "linear"
    }
    ], "positionTol":0.5, "angleTol":1, "optimizationLevel":0
  }
  ;
  animation:gwd-motion-path-143w-keys-x 1.562s linear 0s 1 normal forwards;
  transform:translate3d(0px, 0px, 0px);
}
@keyframes gwd-motion-path-143w-keys-x {
  0% {
    transform: translate3d(0px, 0px, 0px);
  }
  5% {
    transform: translate3d(-4.05px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.3165, -2.2502, 0.5849, 1.9372);
  }
  100% {
    transform: translate3d(6.75px, 0px, 0px);
  }
}
.gwd-play-animation [data-gwd-group="flowerseff"] .gwd-motion-path-143w-anim-y {
  animation: gwd-motion-path-143w-keys-y 1.562s linear 0s 1 normal forwards;
  transform: translate3d(0px, 0px, 0px);
}
@keyframes gwd-motion-path-143w-keys-y {
  0% {
    transform: translate3d(0px, 0px, 0px);
  }
  5% {
    transform: translate3d(0px, 7.46px, 0px);
    animation-timing-function: cubic-bezier(0.3341, 0.3306, 0.6705, 0.6628);
  }
  100% {
    transform: translate3d(0px, 165.27px, 0px);
  }
}
.gwd-play-animation [data-gwd-group="flowerseff"] .gwd-motion-path-1wl7-anim-x {
  --gwd-motion-path: {
    "tangentFollowing": false, "sections": [ {
      "controlPoints": ["0px", "0px", "38.39px", "43.79px", "-18.72px", "116.27px", "13.75px", "160.27px"], "startTimeMs": 0, "endTimeMs": 1562, "easing": "linear"
    }
    ], "positionTol":0.5, "angleTol":1, "optimizationLevel":0
  }
  ;
  animation:gwd-motion-path-1wl7-keys-x 1.562s linear 0s 1 normal forwards;
  transform:translate3d(0px, 0px, 0px);
}
@keyframes gwd-motion-path-1wl7-keys-x {
  0% {
    transform: translate3d(0px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.3092, 5.928, 0.3445, 4.1495);
  }
  72.5% {
    transform: translate3d(3.56px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.5638, -0.181, 0.8382, 0.5988);
  }
  100% {
    transform: translate3d(13.75px, 0px, 0px);
  }
}
.gwd-play-animation [data-gwd-group="flowerseff"] .gwd-motion-path-1wl7-anim-y {
  animation: gwd-motion-path-1wl7-keys-y 1.562s linear 0s 1 normal forwards;
  transform: translate3d(0px, 0px, 0px);
}
@keyframes gwd-motion-path-1wl7-keys-y {
  0% {
    transform: translate3d(0px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.3644, 0.2997, 0.6793, 0.6552);
  }
  25% {
    transform: translate3d(0px, 38.34px, 0px);
    animation-timing-function: cubic-bezier(0.3335, 0.3317, 0.6552, 0.6841);
  }
  100% {
    transform: translate3d(0px, 160.27px, 0px);
  }
}
.gwd-play-animation [data-gwd-group="flowerseff"] .gwd-motion-path-kvr1-anim-x {
  --gwd-motion-path: {
    "tangentFollowing": false, "sections": [ {
      "controlPoints": ["0px", "0px", "-21.87px", "18.11px", "-0.8px", "36.28px", "-39.75px", "52.58px", "-39.75px", "52.58px", "-67.94px", "64.38px", "-9.42px", "120.52px", "12.75px", "159.27px"], "startTimeMs": 0, "endTimeMs": 1562, "easing": "linear"
    }
    ], "positionTol":0.5, "angleTol":1, "optimizationLevel":0
  }
  ;
  animation:gwd-motion-path-kvr1-keys-x 1.562s linear 0s 1 normal forwards;
  transform:translate3d(0px, 0px, 0px);
}
@keyframes gwd-motion-path-kvr1-keys-x {
  0% {
    transform: translate3d(0px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.2922, 0.3676, 0.6047, 0.7391);
  }
  7.89% {
    transform: translate3d(-9.41px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.5628, 0.2162, 0.6906, 0.5116);
  }
  35.06% {
    transform: translate3d(-39.75px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.184, 0.3671, 0.4228, 1.4074);
  }
  44.8% {
    transform: translate3d(-46.63px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.3793, 0.2528, 0.6544, 0.6922);
  }
  100% {
    transform: translate3d(12.75px, 0px, 0px);
  }
}
.gwd-play-animation [data-gwd-group="flowerseff"] .gwd-motion-path-kvr1-anim-y {
  animation: gwd-motion-path-kvr1-keys-y 1.562s linear 0s 1 normal forwards;
  transform: translate3d(0px, 0px, 0px);
}
@keyframes gwd-motion-path-kvr1-keys-y {
  0% {
    transform: translate3d(0px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.3647, 0.3101, 0.5452, 0.7906);
  }
  35.06% {
    transform: translate3d(0px, 52.58px, 0px);
  }
  38.31% {
    transform: translate3d(0px, 56.24px, 0px);
    animation-timing-function: cubic-bezier(0.3047, 0.3564, 0.6694, 0.6624);
  }
  100% {
    transform: translate3d(0px, 159.27px, 0px);
  }
}
.gwd-play-animation [data-gwd-group="flowerseff"] .gwd-motion-path-dgil-anim-x {
  --gwd-motion-path: {
    "tangentFollowing": false, "sections": [ {
      "controlPoints": ["0px", "0px", "-21.87px", "18.11px", "-0.8px", "36.28px", "-39.75px", "52.58px", "-39.75px", "52.58px", "-67.94px", "64.38px", "-82.42px", "128.52px", "-60.25px", "167.27px"], "startTimeMs": 697, "endTimeMs": 2259, "easing": "linear"
    }
    ], "positionTol":0.5, "angleTol":1, "optimizationLevel":0
  }
  ;
  animation:gwd-motion-path-dgil-keys-x 1.562s linear 0.697s 1 normal forwards;
  transform:translate3d(0px, 0px, 0px);
}
@keyframes gwd-motion-path-dgil-keys-x {
  0% {
    transform: translate3d(0px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.2922, 0.3676, 0.6047, 0.7391);
  }
  7.94% {
    transform: translate3d(-9.41px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.5628, 0.2162, 0.6906, 0.5116);
  }
  35.28% {
    transform: translate3d(-39.75px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.1013, 0.6998, 0.5388, 2.3733);
  }
  100% {
    transform: translate3d(-60.25px, 0px, 0px);
  }
}
.gwd-play-animation [data-gwd-group="flowerseff"] .gwd-motion-path-dgil-anim-y {
  animation: gwd-motion-path-dgil-keys-y 1.562s linear 0.697s 1 normal forwards;
  transform: translate3d(0px, 0px, 0px);
}
@keyframes gwd-motion-path-dgil-keys-y {
  0% {
    transform: translate3d(0px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.3647, 0.3101, 0.5452, 0.7906);
  }
  35.28% {
    transform: translate3d(0px, 52.58px, 0px);
  }
  38.51% {
    transform: translate3d(0px, 55.67px, 0px);
    animation-timing-function: cubic-bezier(0.3724, 0.2786, 0.6579, 0.6813);
  }
  100% {
    transform: translate3d(0px, 167.27px, 0px);
  }
}
.gwd-play-animation [data-gwd-group="flowerseff"] .gwd-motion-path-nqio-anim-x {
  --gwd-motion-path: {
    "tangentFollowing": false, "sections": [ {
      "controlPoints": ["0px", "0px", "38.39px", "43.79px", "-0.72px", "102.27px", "31.75px", "146.27px"], "startTimeMs": 697, "endTimeMs": 2259, "easing": "linear"
    }
    ], "positionTol":0.5, "angleTol":1, "optimizationLevel":0
  }
  ;
  animation:gwd-motion-path-nqio-keys-x 1.562s linear 0.697s 1 normal forwards;
  transform:translate3d(0px, 0px, 0px);
}
@keyframes gwd-motion-path-nqio-keys-x {
  0% {
    transform: translate3d(0px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.3242, 1.1671, 0.6848, -0.0015);
  }
  100% {
    transform: translate3d(31.75px, 0px, 0px);
  }
}
.gwd-play-animation [data-gwd-group="flowerseff"] .gwd-motion-path-nqio-anim-y {
  animation: gwd-motion-path-nqio-keys-y 1.562s linear 0.697s 1 normal forwards;
  transform: translate3d(0px, 0px, 0px);
}
@keyframes gwd-motion-path-nqio-keys-y {
  0% {
    transform: translate3d(0px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.3569, 0.3039, 0.6498, 0.6868);
  }
  100% {
    transform: translate3d(0px, 146.27px, 0px);
  }
}
.gwd-play-animation [data-gwd-group="flowerseff"] .gwd-motion-path-1mw0-anim-x {
  --gwd-motion-path: {
    "tangentFollowing": false, "sections": [ {
      "controlPoints": ["0px", "0px", "-33.93px", "56.04px", "64.34px", "48.26px", "50.75px", "146.45px"], "startTimeMs": 697, "endTimeMs": 2259, "easing": "linear"
    }
    ], "positionTol":0.5, "angleTol":1, "optimizationLevel":0
  }
  ;
  animation:gwd-motion-path-1mw0-keys-x 1.562s linear 0.697s 1 normal forwards;
  transform:translate3d(0px, 0px, 0px);
}
@keyframes gwd-motion-path-1mw0-keys-x {
  0% {
    transform: translate3d(0px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.1329, 0.2688, 0.579, 1.5451);
  }
  17.5% {
    transform: translate3d(-6.32px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.2873, 0.249, 0.4915, 1.1774);
  }
  100% {
    transform: translate3d(50.75px, 0px, 0px);
  }
}
.gwd-play-animation [data-gwd-group="flowerseff"] .gwd-motion-path-1mw0-anim-y {
  animation: gwd-motion-path-1mw0-keys-y 1.562s linear 0.697s 1 normal forwards;
  transform: translate3d(0px, 0px, 0px);
}
@keyframes gwd-motion-path-1mw0-keys-y {
  0% {
    transform: translate3d(0px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.349, 0.3208, 0.6215, 0.7111);
  }
  30% {
    transform: translate3d(0px, 45.25px, 0px);
    animation-timing-function: cubic-bezier(0.3942, 0.2866, 0.6882, 0.633);
  }
  100% {
    transform: translate3d(0px, 146.45px, 0px);
  }
}
.gwd-play-animation [data-gwd-group="flowerseff"] .gwd-motion-path-q12f-anim-x {
  --gwd-motion-path: {
    "tangentFollowing": false, "sections": [ {
      "controlPoints": ["-154.25px", "-126.91px", "-207.25px", "-90.91px", "-125.25px", "-79.91px", "-163.25px", "31.09px"], "startTimeMs": 697, "endTimeMs": 2212.97, "easing": "linear"
    }
    ], "positionTol":0.5, "angleTol":1, "optimizationLevel":0
  }
  ;
  animation:gwd-motion-path-q12f-keys-x 1.51597s linear 0.697s 1 normal forwards;
  transform:translate3d(-154.25px, 0px, 0px);
}
@keyframes gwd-motion-path-q12f-keys-x {
  0% {
    transform: translate3d(-154.25px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.1819, 0.2546, 0.5801, 1.2378);
  }
  22.5% {
    transform: translate3d(-172.05px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.2865, 1.3065, 0.4613, 3.5849);
  }
  100% {
    transform: translate3d(-163.25px, 0px, 0px);
  }
}
.gwd-play-animation [data-gwd-group="flowerseff"] .gwd-motion-path-q12f-anim-y {
  animation: gwd-motion-path-q12f-keys-y 1.51597s linear 0.697s 1 normal forwards;
  transform: translate3d(0px, -126.91px, 0px);
}
@keyframes gwd-motion-path-q12f-keys-y {
  0% {
    transform: translate3d(0px, -126.91px, 0px);
  }
  10% {
    transform: translate3d(0px, -115.88px, 0px);
    animation-timing-function: cubic-bezier(0.3451, 0.3235, 0.6664, 0.6666);
  }
  100% {
    transform: translate3d(0px, 31.09px, 0px);
  }
}
[data-gwd-motion-path-node] {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  pointer-events: none;
}